.shoppingCart {
  position: fixed;
  height: 100vh;
  width: 400px;
  top: 0;
  right: 0;
  background-color: white;
  transform: translateX(100%);
  transition: transform 0.4s ease;
  overflow-y: auto;
}
.shoppingCart.open {
  transform: translateX(0);
}
.totalPriceContainer {
  display: flex;
  position: sticky;
  justify-content: space-between;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
}
.totalPriceTitle {
  font-size: 1.5rem;
}
.totalPrice {
  font-size: 1.5rem;
}
.closeCart {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
  border: none;
  z-index: 1;
}
